# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
env/
*.env

# IDE-specific files
.idea/
.vscode/

# Environment-specific files
.env

# Dependency directories
env/
venv/
env.bak/
venv.bak/

